<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jojo.flippy.app" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/FlippyActionBarTheme" >
        <activity
            android:name=".SplashScreenActivity"
            android:label="@string/app_name"
            android:theme="@style/FlippyFullScreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OnboardingActivity"
            android:label="@string/title_activity_onboarding"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name=".SignInActivity"
            android:label="@string/title_activity_select_community"
            android:windowSoftInputMode="adjustPan"
            android:parentActivityName=".RegisterActivity" >
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:label="@string/title_activity_select_community"
            android:windowSoftInputMode="adjustPan"
            android:parentActivityName=".SignUpOptionsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jojo.flippy.app.SignUpOptionsActivity" />
        </activity>
        <activity
            android:name=".SelectCommunityActivity"
            android:windowSoftInputMode="adjustPan"
            android:label="@string/title_activity_select_community" >
        </activity>
        <activity
            android:name=".SignUpOptionsActivity"
            android:label="@string/title_activity_select_community"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name=".DisplayActivity"
            android:label="@string/title_activity_select_community" >
        </activity>
        <activity
            android:name="com.jojo.flippy.core.ChannelMembers"
            android:label="@string/channel_members_activity_title"
            android:parentActivityName="com.jojo.flippy.core.CommunityCenterActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jojo.flippy.core.CommunityCenterActivity" />
        </activity>
        <activity
            android:name="com.jojo.flippy.core.CommunityCenterActivity"
            android:label="@string/title_activity_community_center" >
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />

        <activity
            android:name="com.facebook.LoginActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.jojo.flippy.profile.AccountProfileActivity"
            android:label="@string/title_activity_account_profile"
            android:parentActivityName="com.jojo.flippy.core.CommunityCenterActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jojo.flippy.core.CommunityCenterActivity" />
        </activity>
        <activity
            android:name="com.jojo.flippy.core.NoticeDetailActivity"
            android:label="@string/title_activity_notice_detail"
            android:parentActivityName="com.jojo.flippy.core.CommunityCenterActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jojo.flippy.core.CommunityCenterActivity" />
        </activity>
        <activity
            android:name="com.jojo.flippy.profile.EditProfileActivity"
            android:label="@string/title_activity_edit_profile"
            android:windowSoftInputMode="adjustPan"
            android:parentActivityName="com.jojo.flippy.profile.AccountProfileActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jojo.flippy.profile.AccountProfileActivity" />
        </activity>
        <activity
            android:name="com.jojo.flippy.core.CreateChannelActivity"
            android:label="@string/title_activity_create_channel"
            android:windowSoftInputMode="adjustPan"
            android:parentActivityName="com.jojo.flippy.core.CommunityCenterActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jojo.flippy.core.CommunityCenterActivity" />
        </activity>
        <activity
            android:name="com.jojo.flippy.core.CreateNoticeActivity"
            android:windowSoftInputMode="adjustPan"
            android:label="@string/title_activity_create_notice"
            android:parentActivityName="com.jojo.flippy.core.CommunityCenterActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jojo.flippy.core.CommunityCenterActivity" />
        </activity>
        <activity
            android:name="com.jojo.flippy.core.NoticeExtrasActivity"
            android:label="@string/title_activity_notice_extras"
            android:parentActivityName="com.jojo.flippy.core.CreateNoticeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jojo.flippy.core.CreateNoticeActivity" />
        </activity>
        <activity
            android:name="com.jojo.flippy.profile.ManageChannelActivity"
            android:windowSoftInputMode="adjustPan"
            android:label="@string/title_activity_manage_channel"
            android:parentActivityName="com.jojo.flippy.core.CommunityCenterActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jojo.flippy.core.CommunityCenterActivity" />
        </activity>
        <activity
            android:name="com.jojo.flippy.profile.MemberDetailActivity"
            android:label="@string/title_activity_member_detail"
            android:parentActivityName="com.jojo.flippy.core.ChannelMembers" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jojo.flippy.core.ChannelMembers" />
        </activity>
        <activity
            android:name="com.jojo.flippy.profile.ImagePreviewActivity"
            android:label="@string/title_activity_image_preview" >
        </activity>
    </application>

</manifest>
