<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jojo.flippy.app" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permissions.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name="com.jojo.flippy.util.Flippy"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/FlippyActionBarTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyADoA__HU64nAq196hY0-E9MNUjWFROu2A" />

        <activity
            android:name=".SplashScreenActivity"
            android:label="@string/app_name"
            android:theme="@style/FlippyFullScreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OnBoardingActivity"
            android:label="@string/title_activity_on_boarding"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name=".SignInActivity"
            android:label="@string/title_activity_select_community"
            android:parentActivityName=".RegisterActivity"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:label="@string/title_activity_select_community"
            android:parentActivityName=".SignUpOptionsActivity"
            android:windowSoftInputMode="adjustPan" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jojo.flippy.app.SignUpOptionsActivity" />
        </activity>
        <activity
            android:name=".SelectCommunityActivity"
            android:label="@string/title_activity_select_community"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".SignUpOptionsActivity"
            android:label="@string/title_activity_select_community"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.jojo.flippy.core.ChannelMembers"
            android:label="@string/channel_members_activity_title"
            android:parentActivityName="com.jojo.flippy.core.CommunityCenterActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jojo.flippy.core.CommunityCenterActivity" />
        </activity>
        <activity
            android:name="com.jojo.flippy.core.CommunityCenterActivity"
            android:label="@string/title_activity_community_center" >
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />

        <activity
            android:name="com.facebook.LoginActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.jojo.flippy.profile.AccountProfileActivity"
            android:label="@string/title_activity_account_profile"
            android:parentActivityName="com.jojo.flippy.core.CommunityCenterActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jojo.flippy.core.CommunityCenterActivity" />
        </activity>
        <activity
            android:name="com.jojo.flippy.core.NoticeDetailActivity"
            android:label="@string/title_activity_notice_detail"
            android:parentActivityName="com.jojo.flippy.core.CommunityCenterActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jojo.flippy.core.CommunityCenterActivity" />
        </activity>
        <activity
            android:name="com.jojo.flippy.profile.EditProfileActivity"
            android:label="@string/title_activity_edit_profile"
            android:parentActivityName="com.jojo.flippy.core.CommunityCenterActivity"
            android:windowSoftInputMode="adjustPan" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jojo.flippy.core.CommunityCenterActivity" />
        </activity>
        <activity
            android:name="com.jojo.flippy.core.CreateChannelActivity"
            android:label="@string/title_activity_create_channel"
            android:parentActivityName="com.jojo.flippy.core.CommunityCenterActivity"
            android:windowSoftInputMode="adjustPan" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jojo.flippy.core.CommunityCenterActivity" />
        </activity>
        <activity
            android:name="com.jojo.flippy.core.CreateNoticeActivity"
            android:label="@string/title_activity_create_notice"
            android:parentActivityName="com.jojo.flippy.core.CommunityCenterActivity"
            android:windowSoftInputMode="adjustPan" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jojo.flippy.core.CommunityCenterActivity" />
        </activity>
        <activity
            android:name="com.jojo.flippy.core.NoticeExtrasActivity"
            android:label="@string/title_activity_notice_extras"
            android:parentActivityName="com.jojo.flippy.core.CommunityCenterActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jojo.flippy.core.CommunityCenterActivity" />
        </activity>
        <activity
            android:name="com.jojo.flippy.profile.ManageChannelActivity"
            android:label="@string/title_activity_manage_channel"
            android:parentActivityName="com.jojo.flippy.core.CommunityCenterActivity"
            android:windowSoftInputMode="adjustPan" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jojo.flippy.core.CommunityCenterActivity" />
        </activity>
        <activity
            android:name="com.jojo.flippy.profile.MemberDetailActivity"
            android:label="@string/title_activity_member_detail"
            android:parentActivityName="com.jojo.flippy.core.CommunityCenterActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jojo.flippy.core.CommunityCenterActivity" />
        </activity>
        <activity
            android:name="com.jojo.flippy.profile.ImagePreviewActivity"
            android:label="@string/title_activity_image_preview" >
        </activity>
        <activity
            android:name="com.jojo.flippy.core.PickMapLocationActivity"
            android:label="@string/title_activity_pick_map_location"
            android:parentActivityName="com.jojo.flippy.core.CommunityCenterActivity"
            android:windowSoftInputMode="adjustPan" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jojo.flippy.core.CommunityCenterActivity" />
        </activity>
        <activity
            android:name="com.jojo.flippy.core.ChannelDetailActivity"
            android:label="@string/title_activity_channel_detail"
            android:parentActivityName="com.jojo.flippy.core.CommunityCenterActivity"
            android:windowSoftInputMode="adjustPan" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jojo.flippy.core.CommunityCenterActivity" />
        </activity>
        <activity
            android:name="com.jojo.flippy.core.AboutActivity"
            android:label="@string/title_activity_about"
            android:parentActivityName="com.jojo.flippy.core.CommunityCenterActivity"
            android:windowSoftInputMode="adjustPan" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jojo.flippy.core.CommunityCenterActivity" />
        </activity>
        <activity
            android:name="com.jojo.flippy.core.NotificationSettingsActivity"
            android:label="@string/title_activity_notification_settings"
            android:parentActivityName="com.jojo.flippy.core.CommunityCenterActivity"
            android:windowSoftInputMode="adjustPan" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jojo.flippy.core.CommunityCenterActivity" />
        </activity>
        <activity
     android:name="com.jojo.flippy.core.GeneralSettingsActivity"
            android:label="@string/title_activity_channel_settings"
            android:parentActivityName="com.jojo.flippy.core.CommunityCenterActivity"
            android:windowSoftInputMode="adjustPan" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jojo.flippy.core.CommunityCenterActivity" />
        </activity>
        <activity
            android:name="com.jojo.flippy.core.HelpActivity"
            android:label="@string/title_activity_help"
            android:parentActivityName="com.jojo.flippy.core.CommunityCenterActivity"
            android:windowSoftInputMode="adjustPan" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jojo.flippy.core.CommunityCenterActivity" />
        </activity>
        <activity
            android:name="com.jojo.flippy.core.SelectChannelActivity"
            android:label="@string/title_activity_select_channel"
            android:parentActivityName="com.jojo.flippy.core.CommunityCenterActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jojo.flippy.core.CommunityCenterActivity" />
        </activity>

        <service
            android:name="com.jojo.flippy.util.FlippyAlarmService"
            android:enabled="true" />

        <receiver android:name="com.jojo.flippy.util.FlippyReceiver" />

        <activity
            android:name="com.jojo.flippy.core.SettingsLegalActivity"
            android:label="@string/title_activity_settings_legal"
            android:parentActivityName="com.jojo.flippy.core.CommunityCenterActivity"
            android:windowSoftInputMode="adjustPan" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jojo.flippy.core.CommunityCenterActivity" />
        </activity>
    </application>

</manifest>
